header {
	background-color: #222222;
	height: 50px;
	border-bottom: 1px solid gray;
}

.headerMain {
	width: 1100px;
	height: 100%;
	margin: auto;
}

.logoCtn {
	float: left;
	background-image: url(../images/Logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 80px;
	height: 40px;
	margin-top: 5px;
}

.hCtnLeft {
	float: left;
	height: 100%;
}

.hCtnRight {
	float: right;
	height: 100%;
}

.logoDesc {
	color: white;
	font-size: 20px;
	width: auto;
	height: 100%;
	padding-left: 10px;
}

.headerFunc {
	color: #eeeeee;
	font-size: 15px;
	width: auto;
	height: 100%;
	padding-right: 50px;
}

.headerFunc:hover {
	color: #ffffff;
	text-shadow:0 0 0.2em #ffffff;
}

.vMiddle table {
	height: 100%;
	width: 100%;
}

.searchCtn {
	width:242px;
	height: 30px;
	background-color: white;
	border-radius: 5px;
	margin-left: 50px;
}

.searchInput {
	margin: 5px;
	border: 0;
	width:200px;
	float: left;
	outline:none;
}

.searchBtn {
	float: left;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	outline: none;
	background-color: white;
	color: gray;
}

.searchBtn:hover {
	color: black;
}