.main {
	margin: auto;
	margin-top: 50px;
	width:1200px;
	height: 500px;
}



.indexLeft {
	float:left;
	width: 800px;
	height: auto;
	min-height: 600px;
	margin-bottom: 50px;
	background-color: white;
}

.indexRight {
	float:right;
	width: 350px;
	height: auto;
	background-color: white;
}

.indexNavCtn {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid gray;
}

.indexNavSlct {
	height:3px;
	width:90px;
	background-color: #0c7adf;
}

.indexNav {
	height: 42px;
	width: 90px;
	text-align: center;
	font-size: 14px;
	float: left;
	border: 0;
	outline: none;
	background-color: white;
}

.indexQuesCtn {
	width: 100%;
	height: auto;
}

.questionCtn {
	width: 100%;
	height: 100px;
	border-bottom: 1px dashed #dddddd;
	overflow: hidden;
}

.questionStatus {
	float: left;
	color: gray;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 30px;
	font-size: 14px;
}

.vMargin {
	height:80px;
	width: 1px;
	background-color: #dddddd;
	margin-top: 10px;
	float: left;
}

.questionDetail {
	width:630px;
	height: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	padding:10px 10px 10px 20px;
}

.questionStatusIcon {
	width: 40px;
	height: 40px;
	margin: 20px 0px 10px 30px;
	border-radius: 20px;
}

.questionStatusIcon .ppticon {
	color: white;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}

.questionStatusCnt {
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.questionName {
	width:100%;
	height: 30px;
	font-size: 20px;
}

.questionName span {
	font-size: 16px;
	color: gray;
	margin-left: 2px;
}

.questionDesc {
	font-size: 14px;
	color: gray;
}

.questionTag {
	font-size: 14px;
	background-color: #f2854c;
	color: white;
	border-radius: 5px;
	padding:0px 5px 0px 7px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

.questionTag a {
	text-decoration: none;
	color: inherit;
}

.questionTime {
	float: right;
	font-size: 14px;
	padding:0px 5px 0px 7px;
	margin-top: 10px;
	color: gray;
}

.questionUser {
	float: right;
	font-size: 14px;
	padding:0px 5px 0px 7px;
	margin-top: 10px;
	color: gray;
}

.questionUser a {
	text-decoration: none;
	color: inherit;
}


.questionUser a:hover {
	text-decoration: underline;
}

.indexLogin {
	width: 100%;
	height: 250px;
	margin: auto;
}

.panelTitle {
	height: 37px;
	border-bottom: 1px solid gray;
	font-size: 20px;
	padding-top: 8px;
	padding-left: 25px;
}

.indexLoginForm {
	width: 255px;
	margin: auto;
	margin-top: 10px;
}


.indexLoginForm input {
	width: 240px;
	height: 30px;
	margin-top: 20px; 
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}


/* Default Login Button */
.loginBtn {
	width: 254px;
	height: 36px;
	margin-top: 20px; 
	font-size: 16px;
	border: 0;
	background-color: #0073dd;
	color: white;
}

.loginBtn:hover {
	background-color: #1480e3;
}

.loginBtn:active {
	background-color: #0059AB;
}

/* Error Login Button */
.loginBtn_error {
	width: 254px;
	height: 36px;
	margin-top: 20px; 
	font-size: 16px;
	border: 0;
	background-color: #FF5656;
	color: white;
}

/* Loading Login Button */
.loginBtn_loading {
	width: 254px;
	height: 36px;
	margin-top: 20px; 
	font-size: 16px;
	border: 0;
	background-color: #25D78D;
	color: white;
}

/* Loading Login Button */
.loginBtn_disabled {
	width: 254px;
	height: 36px;
	margin-top: 20px; 
	font-size: 16px;
	border: 0;
	background-color: gray;
	color: white;
}