@font-face {
 font-family: 'ppticon';
 src: url('../fonts/icomoon.eot') format("embedded-opentype");
 src: url('../fonts/icomoon.woff') format('woff'), 
      url('../fonts/icomoon.ttf') format('truetype'), 
      url('../fonts/icomoon.svg#ppticon') format('svg');
}

.userLeft {
	width:25%;
	min-width: 300px;
	height: 600px;
	float:left;
}

.userRight {
	width:71%;
	min-width: 750px;
	height: 600px;
	float:right;
	background-color: gray;
}


.userHead {
	height: 72px;
	margin: 20px;
}

.userHead img {
	width: 72px;
	float: left;
}

.userHead .userInfo {
	margin-left: 20px;
	float: left;
}

.userLevel {
	font-size: 5px;
	font-family: 宋体;
	background-color: orange;
	padding-bottom: 3px;
	float:left;
	padding: 0 5px 0 5px;
	margin:3px 0 0 5px;
	height:14px;
	border-radius: 5px;
	color: white;
}

.userStatistics {
	width:100%;

}

.userStatistics>table {
	width:100%;
	margin-bottom: 10px;
}

.userStatistics>table tr {
	height: 50px;
}
.userStatistics>table td {
	text-align: center;
	border-left: 1px solid #dddddd;
}

.userTag {
	overflow: hidden;
}

.userTag>a {
	color: white;
	text-decoration: none;
	font-family: 宋体;
	font-size:9px;
	background-color: #0c7adf;
	padding: 2px 5px 2px 5px;
	margin-right: 5px;
	border-radius: 5px;
}

.userName {
	float:left;
	width:auto;
}

.userCenterLink {
	margin-top:4px;
}
.userCenterLink>a {
	font-size:9px;
	color: #888888;
	text-decoration: none;
}

.userCenterLink>a:hover {
	color: #555555;
}